h1 {
  text-align: center;
}

.buttons {
  margin-bottom: 20px;
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background: var(--vbb-bg);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #217dbb;
}

.board {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.column {
  background: #ffffff;
  width: 30%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  min-height: 250px;
}

.task {
  background: #fff7a8;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  cursor: grab;
  font-weight: bold;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.modal-content {
  background: #ffffff;
  width: 300px;
  margin: 15% auto;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}
